<html lang="en" class="mdl-js">
  <head>
   
    <title> BHOLAA777 </title>
<meta name="google-site-verification" content="yofaXdqsWkvmp2pT-9WhStwmFv1TAiZ_NJ5qYXdIDNI" />x
   <script async src="https://www.googletagmanager.com/gtag/js?id=AW-321669212"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-321669212');
</script>
    <meta charset="utf-8">
    <meta name="theme-color" content="#080A52">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <!-- Required meta tags facebook-->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="    BHOLAA777">
    <meta property="og:description" content="">
    <meta property="og:url" content="http://BHOLAA777.com">
    <meta property="og:site_name" content="BHOLAA777">
    <meta name="twitter:card" content="summary">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/android-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script async="" src="https://www.clarity.ms/s/0.7.22/clarity.js"></script>
    <script async="" src="https://www.clarity.ms/tag/ij69x7vvv8"></script>
   
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PQT7BKHM"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css">
      <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  
 
   
 
   
    
  
    <meta name="dmca-site-verification" content="ejFrR25mY0dlWGxoczhSM2txeUVvdz090">
    <meta name="description" content="Bholaa777">
    <link href="https://static-widget.pl-01.play-platform.com/public/sdk.css" rel="stylesheet">
    <script src="https://static-widget.pl-01.play-platform.com/public/sdk.js"></script>
    <style>
      .backodds {
  background: #72bbef;
  border-radius: 4px;
  padding: 14px;
  font-size: 14px;
  text-align: center;
  margin: 0 2px;
  width: 100%;
  height: auto;
  cursor: pointer;
  font-weight: 900;
}
.oddlay{
  background: #f492b7;
  border-radius: 4px;
  padding: 14px;
  font-size: 14px;
  text-align: center;
  margin: 0 2px;
  width: 100%;
  height: auto;
  cursor: pointer;
  font-weight: 900;

}

ul li{
  border-bottom: 2px solid #c7c8ca;
  padding:10px;
  margin-bottom:10px;
}

div.vsName {
  color: #333;
  font-weight:bold;
  text-overflow: ellipsis;
    white-space: nowrap;
  

}
.green-dot{
  display:inline-block;
  background-color: green;
  border-radius:50%;
  width:10px;
  height:10px;
  
}
       .float{
	position:fixed;
	width:187px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
      #preloader {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #01022f;
      }

      #preloader img {
        height: 180px;
        width: 340px;
      }

      @media(max-width: 568px) {
        #preloader img {
          height: 120px;
          width: 220px;
        }
      }
    </style>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">    
            
               <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body cz-shortcut-listen="true">
<div id="floater">
         <a  class="float" target="_blank">
             <img src="https://shivaxchange.com/img/w_chat.png" class="img-fluid">

</a>
   
    <style>
      #load_screen {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(8, 10, 82, 0.8);
      }

      #load_screen img {
        height: 180px;
        width: 340px;
      }

      @media(max-width: 568px) {
        #load_screen img {
          height: 120px;
          width: 220px;
        }
      .top-header {
        height:65px;
}
      }
    </style>
    <header>
      <section class="top-header">
        <div class="top-header-left">
          
        </div>
        <a href="" class="login_btn botn botn-filled d-none">Login</a>
        <div class="d-flex justify-content-end">
          <div class="headerBtns android-app d-none">
            <a href="" class="downloadAppBtn me-2 app-step">
            </a>
            <button class="login_btn m-0 botn botn-filled">Login/Signup</button>
          </div>
        </div>
      </section>
      <!--|| LEFT-SIDEMENU-START ||-->
    </header>
    <main class="index-main">
      <!--|| RIGHT-SIDEMENU-START ||-->
      <div id="altas-promotion" style="display:none;" class="container-wd mb-4">
        <div class="sdkw-slider">
          <div class="sdkw-slides-container">
            <div class="sdkw-slides sdkw-animation" style="left: 0px;">
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sdkw-arrows">
            <button type="button" class="sdkw-left">
              <svg width="5" height="10" viewBox="0 0 5 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 0L0 5L5 10V0Z" fill="currentColor"></path>
              </svg>
            </button>
            <button type="button" class="sdkw-right">
              <svg width="5" height="10" viewBox="0 0 5 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0L5 5L0 10V0Z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <section class="container-wd">
        <div class="row banner_box">
          <div class="slide col-12">
            <div id="carouselExampleIndicators" class="carousel slide pointer-even " data-bs-ride="carousel">
           
                
                 
                <div >
                 
                    <img src="https://shivaxchange.com/img/bh22222.jpg" alt="" class="img-fluid">
               
                </div>
                
                  
               
                
                 
              
                
                 
              
                
                 
              
                
                 
             
                
           
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="active" aria-current="true" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" class="" aria-current="true" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" class="" aria-current="true" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" class="" aria-current="true" aria-label="Slide 8"></button>
              </div>
            </div>
              </div>
        
    
      </section>

<div class="container mt-3 mb-3 px-3" style="box-shadow: 0px 2px 21px 0px rgba(59, 53, 63, 0.12);">
       <div style="text-align:center;">
<h4 style="color:black;
    font-size: 20px;
    font-weight: bold;
">
WELCOME IN THE FAMILY OF BHOLAA777 
<span style="
display:inline-block;
color:#ea2087;  
font-size: 20px;
    font-weight: bold;"> BHOLAA777 "KHELO DIL AND DIMAG SE" </span></h4></div>

<button type="button" class="btn btn-outline-info w-40 h-40 mt-3 mb-3" style="width: 113px;
    height: 38px;
    font-weight: bold;
    font-size: 12px;">GET ID NOW</button>
       <p>
        Get in touch with BHOLAA777 for any Queries, Emergencies, Feedback, or Complaints. We are here to help you 24*7 with our services on WhatsApp.
       </p>
       <p>
         Welcome to BHOLAA777 fantasy, we offer you a genuinely unique fantasy sports experience. Besides, We have a global network and provide the best industry experience with a single click.
       </p>
       <p>
         BHOLA777 fantasy is a responsible fantasy sports promoter. We deal in all kinds of fantasy sports games. We have helped 50000+ players to find the best fantasy sports online.
       </p>
       <p>Our Company Works In A Very Transparent Way. Get Your Demo ID Now</p>
      </div> 

      {{!-- Odds Section Start --}}
      <div class="container-fluid">
    <div id="oddsContainer">
    
      </div>

<div class="container mt-3 mb-3 px-3" style="box-shadow: 0px 2px 21px 0px rgba(59, 53, 63, 0.12);">
<h4  style="color:black;font-weight:bold;font-size:20px">GAME ADDICTION</h4>
<p>This game maybe addictive, user discretion is advised. Fantasy sports maybe addictive to a certain extent, we advise to avoid playing the games continuously and take regular breaks while you play.</p>  
<p>Here are some tips you can apply while playing online fantasy sports-</p>
<p>Set time limit for gaming</p>
<p>Take regular breaks</p>                                                                                                      
</div>

<div class="container mt-3 mb-3 px-3" style="box-shadow: 0px 2px 21px 0px rgba(59, 53, 63, 0.12);">
<h4 class="mt-3 mb-3" style="color:black;font-weight:bold;font-size:20px">TERMS AND CONDITIONS</h4>
<p>Disclaimer:- This Website is only for 18+ users. Please Leave This Site If you are from Telangana, Orissa, Assam, Sikkim, and Nagaland. Beware of fraudsters, we only deal via WhatsApp. We only promote online fantasy sports, with absolutely no opportunity to win anything of value, such as prizes and money.</p>
<p>You must be at least 18 years old, and must not suffer from any disability or impairment which would prevent you from assuming the responsibilities contained in the Agreement, or from getting an online ID for fantasy sports.</p>
<p><b>1. Introduction</b></p>
<p>1.1 - These user terms & conditions (the "Agreement"), which includes those terms and conditions expressly set out below and those incorporated by reference including the terms of the Privacy Policy and the Game Rules (as defined in section 9 below) is an agreement between you (the "User", "you" and "your"), and yuvraj fantasy which governs your use of the products and services ("Services") provided by the Company through the yuvraj fantasy website. By using any of the Services you are agreeing to all the terms of this Agreement.</p>
<p>1.2 - If any of the terms of the Agreement are determined to be unlawful, invalid, void, or unenforceable for any reason, it shall not affect the validity and enforceability of the remaining terms. Any failure or delay on our part to act or exercise any right or remedy with respect to a breach of any of the terms of this Agreement by you shall not be construed as a waiver of our right to act with respect to the said breach or any prior, concurrent, subsequent or similar breaches.</p>
<p class="mt-3 mb-3"><b>2. Agreement</b></p>
<p>2.1 - You should ensure that you read, understand, and agree with all the terms and conditions contained in the Agreement, before you may use the Services. You should only use the Services if you have read and understood the Agreement and agree to abide by its terms and conditions. If you have any questions about the Agreement please contact us.</p>
<p class="mb-3">2.2 - We reserve the right to amend, modify, or change any of the terms of this Agreement at any time, and it is advisable to regularly look at these terms. We shall give notice of such changes ("Notice") either by notification in the manner as the Company may deem fit or by posting the amended Agreement on the Platform. Such modifications could include changes to any of our Game Rules. If you do not agree with the terms of the amended Agreement, you may terminate your use of the Services by notifying us that you wish to terminate your Accounts. Your continued use of the Services will be deemed to constitute your acceptance of the changes to the Agreement.</p>
</div>


<div class="container mt-3 mb-3 px-3" style="box-shadow: 0px 2px 21px 0px rgba(59, 53, 63, 0.12);">
<h4 class="mt-3 mb-3" style="color:black;font-weight:bold;font-size:20px">GAME CARE</h4>
<p><b>What is fantasy sports?</b></p>
<p>
Fantasy Sports is a form of virtual or online sports, where a user can create an online ID to play virtual matches or tournaments. The players are selected based on the player's recent performances, the opposition, the playing conditions are a few. Ever since its advent in the late 90s that coincided with the internet boom, Fantasy Sports has taken off and is played by millions of people worldwide. In India, Fantasy Sports has been an absolute revelation. Over 120 million people are a part of this bandwagon and the number is ever-growing.

yuvraj fantasy is a virtual platform for users to select players from a fixture (Cricket/Football/Kabaddi/Basketball/Baseball/Volleyball), earn points based on the player's performance in fantasy games and compete against thousands of fantasy sports players. It is one of India's finest and the most creative fantasy sports websites. The game interface makes sure that the user has the most amazing gameplay experience. Including players who've had a good run of form have to be preferred over personal choices.</p>
<p><b>Terms and conditions</b></p>
<p>Disclaimer:- This Website is only for 18+ users. Please Leave This Site If you are from Telangana, Orissa, Assam, Sikkim, and Nagaland. Beware of fraudsters, we only deal via WhatsApp. We only promote online fantasy sports, with absolutely no opportunity to win anything of value, such as prizes and money.

You must be at least 18 years old, and must not suffer from any disability or impairment which would prevent you from assuming the responsibilities contained in the Agreement, or from getting an online ID for fantasy sports.</p>
</div>
  {{!-- Odds Section --}}
  <div class="container-fluid mt-3">
  <ul id="oddsList" class="col-12" style="overflow:hidden;overflow-x:scroll">
   <li class="d-flex align-items-center" >
   <div class="col-6 d-flex justify-content-start " style="font-weight:bold">
 Game
   </div>
   <div class="col-6 d-flex " style="justify-content:space-evenly">
   <div class="col-2" style="font-weight:bold;text-align:center">
      <em>1 </em>
   
   </div>
    <div class="col-2" style="font-weight:bold;text-align:center">
      <em>X </em>
     
   </div>
    <div class="col-2" style="font-weight:bold;text-align:center">
      <em>2 </em>
     
   </div>
 
   
  
   </div>

   </div>

  </li>
  </ul>
  
</div>
      </div>
      {{!-- Odds Section End --}}
    
      <script>
        $(document).ready(function() {
          var slider8 = JSON.parse('{"arrows":true,"accessiblity":true,"autoplay":true,"centerMode":true,"focusOnSelect":true,"dots":true,"fade":true,"infinite":true,"pauseOnHover":true,"responsive":[{"breakpoint":600,"settings":{"slidesToShow":2,"slidesToScroll":1,"infinite":true}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1,"infinite":true}}],"swipe":true,"useCSS":true,"touchMove":true,"variableWidth":true}')
          $('.slider-8').slick(slider8);
        })
      </script>
        
<script>
    $(document).ready(function(){
  $('.slick_slide').slick({
        autoplay: true,
       autoplaySpeed: 2000,
  })
});
</script>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>

  <script>
   // Establish a connection to the Socket.io server
   const socket = io('http://127.0.0.1:8001/');
   socket.on("hello", (test_object) => {
  console.log(test_object); // "world"
 
});

   // Listen for the 'oddsUpdate' event from the server
   socket.on('oddsUpdate', (allOdds) => {
   
         console.log('Received updated odds:', allOdds);
         // Example: Update HTML elements with the updated odds
         document.getElementById('oddsContainer').innerHTML = JSON.stringify(allOdds);
    
   });
</script>
<script>
   $(document).ready(function() {
  
    setInterval(function() {
        $.ajax({
            url: '/get-odds',
            method: 'GET',
            dataType: 'json',
           success: function(response) {
                console.log('Success:', response);
                // Clear the existing content before appending new data
                $('#oddsList').empty();

                // Iterate over each item in the response
                response.odds.forEach(function(item) {
                    // Create a new li element for each item
                    var li = $('<li>', { class: 'd-flex align-items-center flex-column flex-sm-row col-12', 'data-vsnameurl': item.vsNameUrl });

                    // Append the vsName to the li element
                    li.append($('<div>', { class: 'col-12 col-lg-6 d-flex vsname', text: item.vsName }));
                    var parentDiv = $('<div>', { class: 'col-12 col-lg-6 d-flex align-self-start' });
                    // Iterate over backOdds and layOdds arrays
                    for (var i = 0; i < item.backOdds.length; i++) {
                        // Create div elements for back odds and lay odds
                        var backOddsDiv = $('<div>', { class: 'backodds' }).append($('<em>', { text: item.backOdds[i] }));
                        var layOddsDiv = $('<div>', { class: 'oddlay' }).append($('<em>', { text: item.layOdds[i] }));

                        // Append back odds and lay odds divs to the li element
                        parentDiv.append(backOddsDiv, layOddsDiv);
                        li.append(parentDiv);
                    }

                    // Append the li element to the ul
                    $('#oddsList').append(li);
                });
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // Handle the error here
            }
        });
    }, 500); 
});

</script>
    

  
  </body>
</html>
